body{
  text-align:center;
  background-repeat:no-repeat;
}
h1{
  color:lightblue;
  font-size:25px;
  text-shadow:2px 3px 2px black;
}
#dp{
  height:175px;
  border-radius:75px;
    margin-top: 20px;
}
#bio{
  font-weight:bold;
  font-size:16px;
}
#menu{
    list-style: none;
    background-color: black;
    margin: 0;
}
.item{
    display: inline;
}
.item>a{
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.item>a:hover{
    color: chartreuse;
    cursor: pointer;
}
#cname{
  color:lightblue;
  font-size:30px;
  text-shadow:2px 3px 2px black;
    font-family: 'Langar', cursive;
}
#name-and-dp{
    background: linear-gradient(lightblue,darkblue);
}
#Martin{
    transition: transform 1s;
}
#Martin:hover{
    transform: scale(1.1);
}
html{
    scroll-behavior: smooth;
}
p{
    font-weight: bold;
}
#email{
   background-color: black;
    height: 50px;
    vertical-align:middle;
}